.layoutCont {
    margin-top: 10%;
    width: 70%;
    border: 2px solid #F0F2F6;
    box-shadow: 0px 4px 31px #EEF1F5;
    border-radius: 8px;
    padding: 50px;

    .layoutTitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 30px;
    }
}